<ion-header-bar align-title="center" class="bar-dark">
    <div class="buttons">
        <button class="button button-icon icon ion-arrow-left-c" ui-sref="list">
        </button>
    </div>
    <h1 class="title">{{name}}</h1>
</ion-header-bar>
<ion-content>
	  <p><button class="button button-light">button-light</button>
      </p><p><button class="button button-stable">button-stable</button>
      </p><p><button class="button button-positive">button-positive</button>
      </p><p><button class="button button-calm">button-calm</button>
      </p><p><button class="button button-balanced">button-balanced</button>
      </p><p><button class="button button-energized">button-energized</button>
      </p><p><button class="button button-assertive">button-assertive</button>
      </p><p><button class="button button-royal">button-royal</button>
      </p><p><button class="button button-dark">button-dark</button></p>
</ion-content>