<ion-header-bar align-title="center" class="bar-dark">
	<div class="buttons">
		<button class="button button-icon icon ion-arrow-left-c" ui-sref="list">
        </button>
	</div>
	<h1 class="title">{{name}}</h1>
</ion-header-bar>
<ion-content ng-click="myclick()">
	<div class="row">
		<div class="col col-33 col-offset-33">.col</div>
		<div class="col">.col</div>
	</div>

	<div class="row">
		<div class="col col-33">.col</div>
		<div class="col col-33 col-offset-33">.col</div>
	</div>

	<div class="row">
		<div class="col col-33 col-offset-67">.col</div>
	</div>
</ion-content>