<ion-header-bar align-title="center" class="bar-dark">
	<div class="buttons">
		<button class="button button-icon icon ion-arrow-left-c" ui-sref="list">
        </button>
	</div>
	<h1 class="title">{{name}}</h1>
</ion-header-bar>
<ion-content>
	 
    <div class="bar bar-header has-tabs-top bar-positive">
      <div class="h1 title">条纹样式选项卡</div>
    </div>

    <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
      <div class="tabs">
        <a class="tab-item" href="#">
          <i class="icon ion-home"></i>
          测试
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-star"></i>
          收藏
        </a>
        <a class="tab-item active" href="#">
          <i class="icon ion-gear-a"></i>
          设置
        </a>
      </div>
    </div>
</ion-content>