<ion-header-bar align-title="center" class="bar-dark">
    <div class="buttons">
        <button class="button button-icon icon ion-arrow-left-c" ui-sref="list">
        </button>
    </div>
    <h1 class="title">{{name}}</h1>
</ion-header-bar>
<ion-content ng-click="myclick()">
	<div class="content has-header">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="First Name">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Last Name">
        </label>
        <label class="item item-input">
          <textarea placeholder="Comments"></textarea>
        </label>
      </div>
</ion-content>